nnunetv2==2.6.4
torch>=2.6.0
torchvision>=0.21.0
nibabel
scipy
scikit-image
Pillow
numpy
psutil
tqdm
acvl_utils
batchgenerators
batchgeneratorsv2
dynamic_network_architectures
einops
kornia
SimpleITK
pandas
matplotlib
seaborn
yacs
